<a href="https://colab.research.google.com/github/DiegoFau/Portafolio/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print ("Hola Mundo")

Hola Mundo

In [ ]:
print ('Año Actual:',2025)

Año Actual: 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
numero = 5

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type (promedio)

float

In [ ]:
nombre = 'Alvaro'
type (nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penélope Camacho'
edad = 11
promedio = 9.75
aprobado = True

print(nombre_estudiante, edad, promedio, aprobado)
print(type(nombre_estudiante), type(edad), type(promedio), type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferecnia_salario = s_coordinador - s_vigilante
diferecnia_salario

300

In [ ]:
promedio_ponderado = (c_vigilante * s_vigilante +
                    c_docente * s_docente +
                    c_coordinador * s_coordinador) / total_empleados
promedio_ponderado

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Àlura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

135706563242672

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

135706563242672

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
id(nuevo_texto)

MICAELA DE LOS SANTOS

135706563197552

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('Ingrese su nombre: ')

Ingrese su nombre: Diego

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input('Ingrese su año de admisión: '))

Ingrese su año de admisión: 2023

In [ ]:
nota_admision = float(input('Ingrese su nota de admisión: '))

Ingrese su nota de admisión: 6.5

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de adminisón fue: {ano_admision} \n\tLa nota de admisión fue: {nota_admision}')

	El año de adminisón fue: 2023
	La nota de admisión fue: 6.5

#**Ejercicios practicos Clase 2**

In [ ]:
nombre_usurario = input('Ingrese su nombre: ')
edad_usuario = input('Ingrese su edad:')
altura_usuario = input('Ingrese su altura:')

Ingrese su nombre: Claudio
Ingrese su edad:23
Ingrese su altura:1.89

In [ ]:
print(f'Hola {nombre_usurario},tienes {edad_usuario} años y tu altura es {altura_usuario} mts')

Hola Claudio,tienes 23 años y tu altura es 1.89 mts

In [ ]:
valor1 = input('Ingrese el primer valor: ')
valor2 = input('Ingrese el segundo valor: ')
valor3 = input('Ingrese el tercer valor: ')

Ingrese el primer valor: 23
Ingrese el segundo valor: 34
Ingrese el tercer valor: 45

In [ ]:
suma_valores = int(valor1) + int(valor2) + int(valor3)
print(f'La suma de los valores ingresados es: {suma_valores}')

La suma de los valores ingresados es: 102

In [ ]:
resta_valores = int(valor1) - int(valor2)
print(f'La resta de los valores 1 y 2 ingresados es: {resta_valores}')

La resta de los valores 1 y 2 ingresados es: -11

In [ ]:
multiplicacion_valores = int(valor1) * int(valor2)
print(f'La multiplicacion de los valores 1 y 2 ingresados es: {multiplicacion_valores}')

La multiplicacion de los valores 1 y 2 ingresados es: 782

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador: '))
division = float(numerador / denominador)

Ingrese el numerador: 10
Ingrese el denominador: 5

In [ ]:
print(f'El resultado de la division es: {division}')

El resultado de la division es: 2.0

In [ ]:
operador = input('Ingrese el operador: ')
potencia = input('Ingrese la potencia: ')
resultado_potencia = int(operador) ** int(potencia)

Ingrese el operador: 2
Ingrese la potencia: 3

In [ ]:
print(f'El resultado de la potencia es: {resultado_potencia}')

El resultado de la potencia es: 8

In [ ]:
nota1 = input('Ingrese la nota 1: ')
nota2 = input('Ingrese la nota 2: ')
nota3 = input('Ingrese la nota 3: ')
promedio_notas = (float(nota1) + float(nota2) + float(nota3)) / 3

Ingrese la nota 1: 5.5
Ingrese la nota 2: 6.5
Ingrese la nota 3: 7

In [ ]:
print(f'El promedio de las notas es: {promedio_notas}')

El promedio de las notas es: 6.333333333333333

In [ ]:
numero1 = 5
numero2 = 12
numero3 = 20
numero4 = 15

peso1 = 1
peso2 = 2
peso3 = 3
peso4 = 4

promedio_ponderado = (numero1 * peso1 + numero2 * peso2 + numero3 * peso3 + numero4 * peso4) / (peso1 + peso2 + peso3 + peso4)
print (promedio_ponderado)

14.9

In [ ]:
frase = input('Ingresa tu frase: ')
frase_mayuscula = frase.lower()
print(frase_mayuscula)

Ingresa tu frase: HOLA MANCOS
hola mancos

In [ ]:
frase_espacios = ' Hola mancos '
frase_sin_espacios = frase_espacios.strip().lower()
print(frase_sin_espacios)

hola mancos

In [ ]:
frase_reemplazar = 'Esta frase sera reemplazada'
frase_reemplazada = frase_reemplazar.replace('e', '@')
print(frase_reemplazada)

Esta fras@ s@ra r@@mplazada

# Estructuras condicionales

In [ ]:
# Nota de aprobación es entre 7 y 10 == aprobado >= 7
# Nota de reprobación es menor a 7 == reprobado < 7
""" Si la nota es mayo o igual a 7 el estudiante aprueba
Si no, el estudiante reprueba """

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print('Verdadero')

5 es mayor a 3

In [ ]:
if 2 > 7:
  print('Verdadero')
print('Se pudrio todo')

Se pudrio todo

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('Verdadero')
else:
  print('Falso')

Falso

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Ingrese su nota: '))
if nota >= 7.0:
  print('Aprobado')
else:
  print('Reprobado')

Ingrese su nota: 8
Aprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Ingrese su nota: '))
if nota >= 7.0:
  print('Aprobado')
if 7 > nota >= 5:
  print('Curso de Recuperación')
if nota <5:
  print('Reprobado')

Ingrese su nota: 3
Reprobado

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
nota = float(input('Ingrese su nota: '))
if nota >= 7.0:
  print('Aprobado')
if 7 > nota >= 5:
  print('Curso de Recuperación')
else:
  print('Reprobado')

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Ingrese su nota: '))
if nota >= 7.0:
  print('Aprobado')
elif 7 > nota >= 5:
  print('Curso de Recuperación')
else:
  print('Reprobado')

Ingrese su nota: 8
Aprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if v and v:
  print('La condición es verdadera')
else:
  print('La condición es falsa')

La condición es verdadera

In [ ]:
if v or v:
  print('La condición es verdadera')
else:
  print('La condición es falsa')

La condición es verdadera

In [ ]:
if v and v:
  print('La condición es verdadera')
else:
  print('La condición es falsa')

La condición es verdadera

In [ ]:
if not f:
  print('La condición es verdadera')
else:
  print('La condición es falsa')

La condición es verdadera

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('El estudiante aprobó')
else:
  print('El estudiante reprobó')

El estudiante aprobó

In [ ]:
if nombre_2 in lista:
  print('El estudiante aprobó')
else:
  print('El estudiante reprobó')

El estudiante reprobó

#**Ejercicios Practicos Clase 3**

In [ ]:
num1 = int(input('Ingrese el primer numero: '))
num2 = int(input('Ingrese el segundo numero: '))
if num1 > num2:
  print(f'el numero mayor es :{num1}')

elif num2 > num1:
  print(f'el numero menor es :{num2}')

else:
  print('Los numeros son iguales')

Ingrese el primer numero: 3
Ingrese el segundo numero: 7
el numero menor es :7

In [ ]:
crecimiento_empresa = float(input('Ingrese el porcentaje de crecimiento de la empresa: '))
if crecimiento_empresa > 0:
  print('La empresa esta creciendo')
elif crecimiento_empresa < 0:
  print('La empresa esta decreciendo')
else:
  print('La empresa no presenta movimiento')

Ingrese el porcentaje de crecimiento de la empresa: 0
La empresa no presenta movimiento

In [ ]:
vocal_consonante = str(input('Ingrese una letra: ')).lower()
vocales = 'aeiou'

if vocal_consonante in vocales:
  print('Es una vocal')
else:
  print('Es una consonante')

Ingrese una letra: a
Es una vocal

In [ ]:
valor_auto_año1 = int(input('Ingrese el precio del año 1: '))
valor_auto_año2 = int(input('Ingrese el precio del año 2: '))
valor_auto_año3 = int(input('Ingrese el precio del año 3: '))

precio_mayor = valor_auto_año1

if valor_auto_año2 > precio_mayor:
  precio_mayor = valor_auto_año2

if valor_auto_año3 > precio_mayor:
  precio_mayor = valor_auto_año3

precio_menor = valor_auto_año1

if valor_auto_año2 < precio_menor:
  precio_menor = valor_auto_año2

if valor_auto_año3 < precio_menor:
  precio_menor = valor_auto_año3

print(f'El auto mas caro es: {precio_mayor}')
print(f'El auto mas barato es: {precio_menor}')

Ingrese el precio del año 1: 5
Ingrese el precio del año 2: 4
Ingrese el precio del año 3: 6
El auto mas caro es: 6
El auto mas barato es: 4

In [ ]:
precio_producto1 = int(input('Ingrese el precio del producto 1: '))
precio_producto2 = int(input('Ingrese el precio del producto 2: '))
precio_producto3 = int(input('Ingrese el precio del producto 3: '))

precio_menor = precio_producto1

if precio_producto2 < precio_menor:
  precio_menor = precio_producto2

if precio_producto3 < precio_menor:
  precio_menor = precio_producto3

print(f'El producto mas barato es: {precio_menor}')

Ingrese el precio del producto 1: 5000
Ingrese el precio del producto 2: 2000
Ingrese el precio del producto 3: 8000
El producto mas barato es: 2000

In [ ]:
dato1 = int(input('Ingrese el primer numero: '))
dato2 = int(input('Ingrese el segundo numero: '))
dato3 = int(input('Ingrese el tercer numero: '))

if dato1 >= dato2 and dato1 >= dato3:
  print(dato1)
  if dato2 > dato3:
    print(dato2)
    print(dato3)
  else:
      print(dato3)
      print(dato2)

elif dato2 >= dato1 and dato2 >= dato3:
      print(dato2)
      if dato1 > dato3:
        print(dato1)
        print(dato3)
      else:
        print(dato3)
        print(dato1)
else:
    print(dato3)
    if dato1 >= dato2:
      print(dato1)
      print(dato2)
    else:
      print(dato2)
      print(dato1)

Ingrese el primer numero: 54
Ingrese el segundo numero: 34
Ingrese el tercer numero: 23
54
34
23

In [ ]:
turno_estudio = str(input('Ingrese el turno de estudio (Mañana, Tarde, Noche): ')).lower()
if turno_estudio == 'mañana':
  print('Buenos Días')
elif turno_estudio == 'tarde':
  print('Buenas Tardes')
elif turno_estudio == 'noche':
  print('Buenas Noches')

Ingrese el turno de estudio (Mañana, Tarde, Noche): tarde
Buenas Tardes

In [ ]:
num = int(input('Ingrese un número: '))
if num % 2 == 0:
  print ('El número es par')
else:
  print('El número es impar')

Ingrese un número: 9
El número es impar

In [ ]:
num = float(input('Ingrese un número: '))
if num % 1 == 0:
  print ('El número es entero')
else:
  print('El número es decimal')

Ingrese un número: 6.5
El número es decimal

In [ ]:
num1 = float(input('Ingrese un número 1: '))
num2 = float(input('Ingrese un número 2: '))
operacion = str(input('Ingrese la operación que desea realizar (+, -, *, /): '))
resultado = 0

if operacion == '+':
  resultado = num1 + num2
elif operacion == '-':
  resultado = num1 - num2
elif operacion == '*':
  resultado = num1 * num2
elif operacion == '/':
  resultado = num1 / num2
print(resultado)

if resultado % 1 == 0:
  print('El número es entero')
else:
  print('El número es decimal')

if resultado % 2 == 0:
  print('El número es par')
else:
  print('El número es impar')

if resultado > 0:
  print('El número es positivo')
else:
  print('El número es negativo')

Ingrese un número 1: 9
Ingrese un número 2: 3
Ingrese la operación que desea realizar (+, -, *, /): *
27.0
El número es entero
El número es impar
El número es positivo

In [ ]:
lado1 = float(input('Ingrese el lado 1: '))
lado2 = float(input('Ingrese el lado 2: '))
lado3 = float(input('Ingrese el lado 3: '))

if lado1 == lado2 == lado3:
    print('El triángulo es equilátero')
elif lado1 != lado2 != lado3:
    print('El triángulo es escaleno')
else:
    print('El triángulo es isósceles')

Ingrese el lado 1: 4
Ingrese el lado 2: 5
Ingrese el lado 3: 5
El triángulo es isósceles

In [ ]:
tipo_combustible = str(input('Ingrese el tipo de combustible (Etanol o disel): ')).lower()
litros_cargados = int(input('Ingrese la cantidad de litros cargados: '))
descuento_etanol1 = 0.02
descuento_etanol2 = 0.04
descuento_disel1 = 0.03
descuento_disel2 = 0.05
valor_etanol = 2
valor_disel = 1.7
total = 0

if tipo_combustible == 'etanol':
  if litros_cargados <= 15:
    total = valor_etanol * litros_cargados * (1 - descuento_etanol1)
  else:
    total = valor_etanol * litros_cargados * (1 - descuento_etanol2)
if tipo_combustible == 'disel':
  if litros_cargados <= 15:
    total = valor_disel * litros_cargados * (1 - descuento_disel1)
  else:
    total = valor_disel * litros_cargados * (1 - descuento_disel2)

print(f'El total a pagar es: {total}')

Ingrese el tipo de combustible (Etanol o disel): etanol
Ingrese la cantidad de litros cargados: 15
El total a pagar es: 29.4

In [ ]:
ventas_2022 = int(input('Ingrese las ventas del año 2022: '))
ventas_2023 = int(input('Ingrese las ventas del año 2023: '))
porcentaje_ventas = (ventas_2023 - ventas_2022) / ventas_2022 * 100

print(f'El porcentaje de crecimiento de las ventas es: {porcentaje_ventas}%')

if porcentaje_ventas >= 20:
  print('Bonificacion máxima')
elif porcentaje_ventas >= 2 < 20:
  print('Bono va')
elif porcentaje_ventas < 2 <= -10:
  print('Politicas de incentivo de ventas')
else:
  print('Recorte de gastos')

Ingrese las ventas del año 2022: 1000
Ingrese las ventas del año 2023: 500
El porcentaje de crecimiento de las ventas es: -50.0%
Recorte de gastos

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Ingrese la nota 1: '))
nota_2 = float(input('Ingrese la nota 2: '))
nota_3 = float(input('Ingrese la nota 3: '))
print (f'El promedio de los estaduantes es: {(nota_1 + nota_2 + nota_3) / 3}')

Ingrese la nota 1: 6.5
Ingrese la nota 2: 8.5
Ingrese la nota 3: 8.3
El promedio de los estaduantes es: 7.766666666666667

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print (contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <=3:
  nota_1 = float(input('Ingrese la nota 1: '))
  nota_2 = float(input('Ingrese la nota 2: '))
  nota_3 = float(input('Ingrese la nota 3: '))
  print (f'El promedio del alumno es: {(nota_1 + nota_2 + nota_3) / 3}')
  contador += 1

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for estudiante in range(1,4):
  nota_1 = float(input('Ingrese la nota 1: '))
  nota_2 = float(input('Ingrese la nota 2: '))
  nota_3 = float(input('Ingrese la nota 3: '))
  print (f'El promedio del alumno es: {(nota_1 + nota_2 + nota_3) / 3}')

Ingrese la nota 1: 6.5
Ingrese la nota 2: 3.5
Ingrese la nota 3: 8.0
El promedio del alumno es: 6.0
Ingrese la nota 1: 8.0
Ingrese la nota 2: 8.0
Ingrese la nota 3: 8.0
El promedio del alumno es: 8.0
Ingrese la nota 1: 9.0
Ingrese la nota 2: 3.5
Ingrese la nota 3: 8.5
El promedio del alumno es: 7.0

# **Ejercicios Clase 4**

> Agregar bloque entrecomillado

In [ ]:
num_1 = int(input('Ingrese el primer numero: '))
num_2 = int(input('Ingrese el segundo numero: '))

contador = num_1 + 1
while contador < num_2:
  print(contador)
  contador += 1

Ingrese el primer numero: 5
Ingrese el segundo numero: 10
6
7
8
9

In [ ]:
colonia_a = 4
colonia_b = 10
crecimiento_a = 0.03
crecimiento_b = 0.015
dias = 0

while colonia_a < colonia_b:
  colonia_a += (colonia_a * crecimiento_a) + colonia_a
  colonia_b += (colonia_b * crecimiento_b) + colonia_b
  dias += 1

print(f'La colonia creció por {dias} dias')
print(f'Crecimiento colonia a ', colonia_a)
print(f'Crecimiento colonia b ', colonia_b)

La colonia creció por 124 dias
Crecimiento colonia a  5.38975088579726e+38
Crecimiento colonia b  5.371632084273542e+38

In [ ]:
for i in range(15):
  nota = float(input(f'Ingrese la nota2 {i}: '))

  while (nota < 0) or (nota >5):
    nota = float(input('Nota no valida, ingresela nuevamente: '))

print('Verificacion completa, todos los datos son validos')

Ingrese la nota 0: 1
Ingrese la nota 1: 2
Ingrese la nota 2: 5
Ingrese la nota 3: 4
Ingrese la nota 4: 0
Ingrese la nota 5: 1
Ingrese la nota 6: 2
Ingrese la nota 7: 3
Ingrese la nota 8: 4
Ingrese la nota 9: 5
Ingrese la nota 10: 2
Ingrese la nota 11: 3
Ingrese la nota 12: 1
Ingrese la nota 13: 5
Ingrese la nota 14: 9
Nota no valida, ingresela nuevamente: 1
Verificacion completa, todos los datos son validos

In [ ]:
temperatura = float(input('Ingresa la temperatura en grados celcius: '))

contador = 0
suma = 0

while temperatura != -273:
  suma += temperatura
  contador += 1
  temperatura = float(input('Ingresa la temperatura en grados celcius: '))

promedio = suma / contador
print(f'El promedio de las temperaturas es: {promedio}')

Ingresa la temperatura en grados celcius: 23
Ingresa la temperatura en grados celcius: 33
Ingresa la temperatura en grados celcius: -273
El promedio de las temperaturas es: 28.0

In [ ]:
num = int(input('Ingrese un numero: '))
factorial = 1
i = num

while i > 0:
  factorial *= i
  i -= 1

print(f'El factorial de {num} es: {factorial}')

Ingrese un numero: 3
El factorial de 3 es: 6

In [ ]:
num = int(input('Ingrese un numero: '))

#for i in range (1, 11): Si no quiero incluir el 0
for i in range (11):
  print(f'{num} x {i} = {num * i}')

Ingrese un numero: 3
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
num = int(input('Ingresa un numero entero mayor que 1: '))

if num > 1:
    for i in range (2, num):
      if num % i == 0:
        print(f'{num} no es un numero primo')
        break
    else:
      print(f'{num} es un numero primo')

#Maneja los numeros que no entran en el >1 que automaticamente no son primos
else:
    print(f'{num} no es un numero primo')

Ingresa un numero entero mayor que 1: 4
4 no es un numero primo

In [ ]:
contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

edad = int(input('Ingrese la edad (negativo para salir): '))

while edad >= 0:
    if 0 <= edad <= 25:
        contador_0_25 += 1
    elif 26 <= edad <= 50:
        contador_26_50 += 1
    elif 51 <= edad <= 75:
        contador_51_75 += 1
    elif 76 <= edad <= 100:
        contador_76_100 += 1

    edad = int(input('Ingrese la edad (negativo para salir): '))

print(f'La cantidad de personas entre 0 y 25 años es: {contador_0_25}')
print(f'La cantidad de personas entre 26 y 50 años es: {contador_26_50}')
print(f'La cantidad de personas entre 51 y 75 años es: {contador_51_75}')
print(f'La cantidad de personas entre 76 y 100 años es: {contador_76_100}')

Ingrese la edad (negativo para salir): 25
Ingrese la edad (negativo para salir): 44
Ingrese la edad (negativo para salir): 88
Ingrese la edad (negativo para salir): 30
Ingrese la edad (negativo para salir): 20
Ingrese la edad (negativo para salir): 19
Ingrese la edad (negativo para salir): 65
Ingrese la edad (negativo para salir): -1
La cantidad de personas entre 0 y 25 años es: 3
La cantidad de personas entre 26 y 50 años es: 2
La cantidad de personas entre 51 y 75 años es: 1
La cantidad de personas entre 76 y 100 años es: 1

In [ ]:
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_en_blanco = 0

for i in range (0, 20):
  voto = int(input('Ingrese su voto (1, 2, 3, 4, 5, 6): '))

  if voto == 1:
    votos_candidato1 += 1
  elif voto == 2:
    votos_candidato2 += 1
  elif voto == 3:
    votos_candidato3 += 1
  elif voto == 4:
    votos_candidato4 += 1
  elif voto == 5:
    votos_nulos += 1
  elif voto == 6:
    votos_en_blanco += 1
  else:
    print('Voto no valido')
    7
print (f'Votos candidato 1: {votos_candidato1}')
print (f'Votos candidato 2: {votos_candidato2}')
print (f'Votos candidato 3: {votos_candidato3}')
print (f'Votos candidato 4: {votos_candidato4}')
print (f'Votos nulos: {votos_nulos}')
print (f'Votos en blanco: {votos_en_blanco}')

Ingrese su voto (1, 2, 3, 4, 5, 6): 1
Ingrese su voto (1, 2, 3, 4, 5, 6): 3
Ingrese su voto (1, 2, 3, 4, 5, 6): 4
Ingrese su voto (1, 2, 3, 4, 5, 6): 2
Ingrese su voto (1, 2, 3, 4, 5, 6): 4
Ingrese su voto (1, 2, 3, 4, 5, 6): 3
Ingrese su voto (1, 2, 3, 4, 5, 6): 2
Ingrese su voto (1, 2, 3, 4, 5, 6): 2
Ingrese su voto (1, 2, 3, 4, 5, 6): 1
Ingrese su voto (1, 2, 3, 4, 5, 6): 5
Ingrese su voto (1, 2, 3, 4, 5, 6): 6
Ingrese su voto (1, 2, 3, 4, 5, 6): 7
Voto no valido
Ingrese su voto (1, 2, 3, 4, 5, 6): 4
Ingrese su voto (1, 2, 3, 4, 5, 6): 2
Ingrese su voto (1, 2, 3, 4, 5, 6): 5
Ingrese su voto (1, 2, 3, 4, 5, 6): 1
Ingrese su voto (1, 2, 3, 4, 5, 6): 6
Ingrese su voto (1, 2, 3, 4, 5, 6): 1
Ingrese su voto (1, 2, 3, 4, 5, 6): 3
Ingrese su voto (1, 2, 3, 4, 5, 6): 4
Votos candidato 1: 4
Votos candidato 2: 4
Votos candidato 3: 3
Votos candidato 4: 4
Votos nulos: 2
Votos en blanco: 2

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [1]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

'Penélope Camacho'

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
lista[0]

'Penélope Camacho'

In [ ]:
type(lista[3])

float

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista [2] = 10

In [ ]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [9]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
print(promedio)

9.4

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [2]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [4]:
#toma el elemento en la posicion 1 y 2, excluye el ultimo elemento en este caso el 2
lista[0:2]

['Penélope Camacho', 9.5]

In [5]:
lista[:3]

['Penélope Camacho', 9.5, 9.0]

In [6]:
lista[3:]

[9.7, True]

In [7]:
lista[:]

['Penélope Camacho', 9.5, 9.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [10]:
lista.append(promedio)

In [11]:
lista[:]

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.4]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [12]:
lista.extend([10.0,8.0,9.0])

In [13]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.4, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [14]:
lista.append([10.0,8.0,9.0])

In [15]:
lista

['Penélope Camacho',
 9.5,
 9.0,
 9.7,
 True,
 9.4,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [16]:
lista.remove([10.0, 8.0, 9.0])

In [17]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.4, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [18]:
diccionario = {'llave_1': 1, 'llave_2': 2}
diccionario

{'llave_1': 1, 'llave_2': 2}

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [19]:
estudiante = {'matricula': 2000168933,
              'dia_registro': 25,
              'mes_registro': 10,
              'grupo': '2E'}
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [20]:
estudiante ['grupo'] = '2G'

In [21]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [24]:
estudiante['modalidad'] = 'EAD'

In [25]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [27]:
estudiante.pop('grupo')

'2G'

In [28]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [29]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [30]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [31]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [33]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [34]:
for valor in estudiante.values():
  print(valor)

2000168933
25
10
EAD

In [37]:
for llave,valor in estudiante.items():
  print(llave, '-->', valor)

matricula --> 2000168933
dia_registro --> 25
mes_registro --> 10
modalidad --> EAD

#Ejercicios Modulo 5

In [42]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
prom = sum(gastos) / len(gastos)
print(prom)

3144.222

In [48]:
contador = 0
for i in gastos:
  if i > 3000:
    contador += 1
porcentaje = ((contador)/len(gastos))* 100
print(f'El porcentaje de ventas sobre 3000 es:', porcentaje)

El porcentaje de ventas sobre 3000 es: 70.0

In [51]:
lista_aleatorea = []

for i in range(0, 5):
  numero = int(input('Ingrese un numero entero: '))
  lista_aleatorea.append(numero)
print ('Los numero de la lista son: ', lista_aleatorea)

Ingrese un numero entero: 2
Ingrese un numero entero: 3
Ingrese un numero entero: 4
Ingrese un numero entero: 5
Ingrese un numero entero: 6
Los numero de la lista son:  [2, 3, 4, 5, 6]

In [52]:
lista_aleatorea = []

for i in range(0, 5):
  numero = int(input('Ingrese un numero entero: '))
  lista_aleatorea.append(numero)
print (f'Los numero de la lista son: ', lista_aleatorea[ : : -1])

Ingrese un numero entero: 3
Ingrese un numero entero: 2
Ingrese un numero entero: 1
Ingrese un numero entero: 55
Ingrese un numero entero: 44
Los numero de la lista son:  [44, 55, 1, 2, 3]

In [57]:
numero = int(input('Ingrese un numero entero: '))
lista_numeros_primos = []

for i in range(2, numero):
  es_primo = True
  for j in range(2, i):
      if i % j == 0:
        es_primo = False
        break
  if es_primo:
    lista_numeros_primos.append(i)

print(lista_numeros_primos)
#

Ingrese un numero entero: 12
[2, 3, 5, 7, 11]

In [1]:
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcetanje_crecimiento = []

for i in range(1, len(bacterias_colonia)):
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i - 1]) / bacterias_colonia[i - 1]
  porcetanje_crecimiento.append(porcentaje)

print(porcetanje_crecimiento)
#

[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [4]:
id = []
dulces = 0
amargos = 0

for i in range(0,10):
  id.append(int(input(f'Ingrese el Id del dulce {i+1}: ')))

for x in id:
  if x % 2 == 0:
    dulces +=1
  else:
    amargos +=1

print(f'La cantidad de dulces es: {dulces}')
print(f'La cantidad de amrgos es: {amargos}')

Ingrese el Id del dulce: 12
Ingrese el Id del dulce: 24
Ingrese el Id del dulce: 35
Ingrese el Id del dulce: 43
Ingrese el Id del dulce: 51
Ingrese el Id del dulce: 67
Ingrese el Id del dulce: 79
Ingrese el Id del dulce: 86
Ingrese el Id del dulce: 933
Ingrese el Id del dulce: 1055
La cantidad de dulces es: 3
La cantidad de amrgos es: 7

In [17]:
respuestas = []
alternativas_correctas = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

for i in range (0,10):
  respuestas.append(input(f'Ingrese la alternativa de la pregunta {i+1}:'))

for i in range (0,10):
  if respuestas[i].upper() == alternativas_correctas[i]:
    nota +=1
print(nota)

Ingrese la alternativa de la pregunta 1:d
Ingrese la alternativa de la pregunta 2:a
Ingrese la alternativa de la pregunta 3:c
Ingrese la alternativa de la pregunta 4:b
Ingrese la alternativa de la pregunta 5:a
Ingrese la alternativa de la pregunta 6:d
Ingrese la alternativa de la pregunta 7:c
Ingrese la alternativa de la pregunta 8:c
Ingrese la alternativa de la pregunta 9:a
Ingrese la alternativa de la pregunta 10:b
10

In [24]:
temperatura_mensual = []

for i in range(0,12):
  temperatura_mensual.append(float(input(f'Ingrese temperatura mes {i+1}: ')))
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
promedio_anual = sum(temperatura_mensual)/len(temperatura_mensual)

print(f'El promedio anual es: {promedio_anual}')

print('Temperaturas por encima del promedio: ')
for i in range(0,12):
  if temperatura_mensual[i] > promedio_anual:
    print(meses[i], temperatura_mensual[i])

Ingrese temperatura mes 1: 12
Ingrese temperatura mes 2: 14
Ingrese temperatura mes 3: 13
Ingrese temperatura mes 4: 21
Ingrese temperatura mes 5: 24
Ingrese temperatura mes 6: 3
Ingrese temperatura mes 7: 23
Ingrese temperatura mes 8: 25
Ingrese temperatura mes 9: 33
Ingrese temperatura mes 10: 21
Ingrese temperatura mes 11: 12
Ingrese temperatura mes 12: 11
El promedio anual es: 17.666666666666668
Temperaturas por encima del promedio:
Abril 21.0
Mayo 24.0
Julio 23.0
Agosto 25.0
Septiembre 33.0
Octubre 21.0

In [29]:
#Diccionario de ventas
datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

#Variable
total_ventas = 0
producto_mas_vendido = ''
unidades_mas_vendidas = 0

# Recorremos las claves y elementos del diccionario
for producto in datos_ventas.keys():
  total_ventas += datos_ventas[producto]

  if datos_ventas[producto] > unidades_mas_vendidas:
    unidades_mas_vendidas = datos_ventas[producto]
    producto_mas_vendido = producto

print(f'El producto mas vendido es: {producto_mas_vendido} con {unidades_mas_vendidas} unidades vendidas')
print(f'El total de ventas es: {total_ventas}')
#

El producto mas vendido es: Producto A con 300 unidades vendidas
El total de ventas es: 920

In [33]:
#Diccionario de votos por diseño
votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

total_votos = 0  # Sumará todos los votos
ganador = ''  # Almacenará el nombre del diseño ganador
voto_ganador = 0  # Almacenará la cantidad ganadora de votos

for diseño, votos_diseño in votos.items():
  total_votos += votos_diseño

  if votos_diseño > voto_ganador:
    voto_ganador = votos_diseño
    ganador = diseño
porcentaje = 100 * (voto_ganador / total_votos)

print (f'El diseño ganador es: {ganador} con un total de {votos_diseño} votos')
print (f'Con un {porcentaje} porciento del total de votos')

El diseño ganador es: Diseño 5 con un total de 1811 votos
Con un 29.747043363994745 porciento del total de votos

In [34]:
#Diccionario votos niños

votos = {'Diseño1': 1334,'Diseño 2':982, 'Diseño 3':1751, 'Diseño 4':210, 'Diseño 5':1811}

total_votos = 0
ganador = ''
votos_ganador = 0

for diseño, votos_diseño in votos.items():
  total_votos += votos_diseño

  if votos_diseño > votos_ganador:
    votos_ganador = votos_diseño
    ganador = diseño

  porcentaje = 100 * (votos_ganador / total_votos)
print(f'El ganador es: {ganador}, con un total de {votos_ganador} votos, que respresentan un {porcentaje} porciento del total de votos')
#

El ganador es: Diseño 5, con un total de 1811 votos, que respresentan un 29.747043363994745 porciento del total de votos